@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif;
  min-width: 1280px;
  color: #333333;
}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  color: black;
  width: 1280px;
}

.banner {
  height: 700px;
  background-image: url(../assets/apparel.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}
.banner ul {
  display: flex;
  flex-direction: row;
}

main {
  display: flex;
  width: 1280px;
  justify-content: center;
}

.about {
  display: flex;
}

aside img {
  width: 500px;
}

.more {
  display: flex;
  flex-direction: column;
}

.more img {
  width: 64px;
}

.contact {
  display: flex;
}

.contactItem {
  display: flex;
  flex-direction: column;
}
