{% extends 'base.html' %} {% block content %}
<form action="{% url 'articles:create' %}" method="POST" class="m-3">
  {% csrf_token %}
  <div class="input-group mb-3">
    <span class="input-group-text">할 일</span>
    <input type="text" class="form-control" name="content" />
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text">우선 순위</span>
    <select name="priority" id="" class="form-select">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text">마감 기한</span>
    <input type="date" class="form-control" name="deadline" />
  </div>
  <input type="submit" class="form-control mb-5" placeholder="할 일 추가" />
</form>
<div class="table-responsive">
  <table class="table text-center">
    <thead>
      <tr>
        <th scope="col">우선 순위</th>
        <th scope="col">할 일 내용</th>
        <th scope="col">생성 날짜</th>
        <th scope="col">마감 기한</th>
        <th scope="col">진행 상태</th>
        <th scope="col">상태 변경</th>
        <th scope="col">삭제</th>
      </tr>
    </thead>
    <tbody>
      {% for i in todo %}
      <tr>
        <td>{{i.priority}}</td>
        <td>{{i.content}}</td>
        <td>{{i.created_at}}</td>
        <td>{{i.deadline}}</td>
        <td>{{sdf}}</td>
        <td>{{asdf}}</td>
        <td>
          <a href="{% url 'articles:delete' i.pk %}" class="">delete</a>
        </td>
      </tr>
      {% endfor%}
    </tbody>
  </table>
</div>

{% endblock %}
