{% extends 'base.html' %}
{% block content %}
{% if request.user.is_authenticated %}
<h2>user : {{user}}</h2>
<button><a href="{% url 'accounts:update' %}">회원정보수정</a></button>
<button><a href="{% url 'accounts:password_change' %}">비밀번호변경</a></button>
<button><a href="{% url 'accounts:index'%}">회원목록</a></button>
<form action="{% url 'accounts:logout'%}" method="POST">
    {% csrf_token %}
    <button type="submit">logout</button>
</form>
<button><a href="{% url 'accounts:delete'%}">회원탈퇴</a></button>
{% else %}
<button><a href="{% url 'accounts:signin' %}">회원가입</a></button>
<button><a href="{% url 'accounts:login'%}">로그인</a></button>
{% endif %}
{% endblock content %}