{% extends 'base.html' %} {% block content %}
<div class="m-3">
  <div>
    <h1>{{review.title}}</h1>
    <p class="fs-3 mb-2">{{review.content}}</p>
    <p class="fs-5">{{review.created_at}}</p>
    <hr />
    <a class="btn btn-primary" href="{% url 'articles:edit' review.pk %}"
      >리뷰수정</a
    >
    <a class="btn btn-primary" href="{% url 'articles:delete' review.pk %}"
      >리뷰삭제</a
    >
    <a class="btn btn-outline-primary" href="{% url 'articles:index'%}"
      >리뷰 목록</a
    >
  </div>
</div>
{% endblock %}
