{% extends 'base.html' %}
{% block content %}
<div class="container my-5 p-5 ">
    <div>
        <h1>{{ review.title }}</h1> 
        <p class="fs-3">{{ review.content }}</p>
        <p class="mb-1">created : {{ review.created_at}}</p>
        <p>updated : {{ review.updated_at}}</p>        
        <a class='btn btn-primary' href="{% url 'review:update' review.pk %}">edit</a>
        <a class='btn btn-primary' href="{% url 'review:delete' review.pk %}">delete</a>
        <a class='btn btn-primary' href="{% url 'review:index' %}">List</a>
    </div>
</div>
{% endblock content %}